@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rajdhani:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}
header {
  overflow: hidden;
  background-color: #242424;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logo {
  background-color: #313131;
  height: 70px;
  display: flex;
  align-items: center;
}

.logo-image {
  width: 130px;
  padding: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding-right: 2rem;
  padding-left: 1rem;
}

/* hero section */

.hero-container {
  background-image: url(images/monstermoye.png);
  background-repeat: no-repeat;
  background-size: 200vh, cover;
  background-position: center;
  width: 100%;
  height: calc(99vh - 60px);
  display: flex;
}

.hero-text-1 {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: relative;
  left: 40px;
}
.hero-text-1 h1 {
  color: white;
  font-size: 100px;
}

.beast-button {
  border-radius: 60px;
  color: #85eb00;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  width: 200px;
  height: 60px;
  font-weight: 500;
  background: none;
  padding: 10px 20px 10px 20px;
  border-color: #85eb00;
  position: relative;
  bottom: 35px;
  text-decoration: none;
}
.beast-button:hover {
  background: black;
  text-decoration: none;
}

.products,
.promotions {
  background-color: #76d829;
  text-align: center;
  align-items: center;
  color: #000;
  white-space: nowrap;
  padding: 30px 30px;
  font-size: 40px;
  max-height: 100px;
}

.product-wrap {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.product-wrap img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
  .product-wrap img {
    height: 500px;
  }
}
@media screen and (max-width: 899px) and (min-width: 700px) {
  .product-wrap img {
    height: 400px;
  }
}
@media screen and (max-width: 699px) {
  .product-wrap img {
    height: 270px;
  }
}
